<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>


  <connectionStrings>

    <add name="cc_sys" connectionString="Server=47.52.41.87;Database=learnsys;Uid=root;Pwd=shekou19881118;Connection Timeout=300;"/>


    <add name="cc_sys_2" connectionString="Server=127.0.0.1;Database=learnsys;Uid=root;Pwd=123456;Connection Timeout=300;"/>

  </connectionStrings>

  <appSettings>

    <add key="uri" value="bolt://192.168.2.240:7687"/>


 
    <add key="userNeo4j" value="neo4j"/>



    <add key="passNeo4j" value="sigsrfj@neo4j"/>
    
    
    
    <!--  end config neo4j-->



    






  </appSettings>
 



</configuration>
